<h2>My Heroes</h2>





<ul>
  <li *ngFor="let hero of heroes">
    <button type="button" (click)="seleccionarHeroe(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>

    <div class="details">
      <span class="description">{{hero.description}}</span>
      <span class="age">{{hero.age}}</span>
      <span class="genre">{{hero.genre}}</span>
      <span class="photo">{{hero.img}}</span>
      <span class="social">{{hero.facebookLink}}</span>
    </div>
  </li>
</ul>

<h2>Heroe seleccionado: {{heroeSeleccionado?.name}}</h2>

<button (mousedown)="mouseDownMethod()">On Mouse down</button>
<button (mouseup)="mouseUpMethod()">On Mouse up</button>
<button (mouseover)="mouseOverMethod()">Over me</button>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>