<h2>My Heroes</h2>
<ul>
  <li *ngFor="let hero of heroes">
    <button type="button">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
      
    </button>

    <div class="details">
      <span class="description">{{hero.description}}</span>
      <span class="age">{{hero.age}}</span>
      <span class="genre">{{hero.genre}}</span>
      <span class="photo">{{hero.img}}</span>
      <span class="social">{{hero.facebookLink}}</span>
    </div>
  </li>
</ul>